{% extends "network/layout.html" %}

{% block script %}
<script>
    // One click per function
    var likeHasBeenCalled = false;
    var unlikeHasBeenCalled = false;

    function likePost(id){
        
        // Check whether the post has been liked by fetching
        fetch(`/liked/${id}`, {
            method: 'GET',
        })
            .then(response => response.json())
            .then( data => {

                let hasBeenLiked = data["data"]

                console.log(`has it been liked? ${hasBeenLiked}`)

                

                if (!hasBeenLiked) {

                    hasBeenLiked = true;

                    //Save the new text
        fetch(`/like/${id}`, {
            method: 'GET',
        })
            .then(response => response.json())
            .then( (data) => {
                console.log(data["data"])
            
                let likeNumber;

                likeNumber = data["data"]
                console.log(`This is the variable likeNumber set to ${likeNumber}`)

                //We need to add 1 like per click
                likeNumber += 1;
                console.log(`New likeNumber plus one ${likeNumber}`)

                // We need to fetch to update number in database
                fetch(`/like/${id}`, {
                    method: 'PUT',
                    body: JSON.stringify({
                        newNumberLikes: likeNumber,
                        liked: hasBeenLiked
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data["data"])

                    //Update client side the number of likes 
                    var updateTag = document.querySelector(`#countLike_${id}`);
                    console.log(updateTag)
                    updateTag.innerHTML = `Number of likes: ${data["data"]}`;

                     // Toggle the unlike buton
                    document.querySelector(`#likeButton_${id}`).style.display= 'none';
                    document.querySelector(`#unlikeButton_${id}`).style.display='block';

                    

                }   
                )
            }  

            )

                } else {
                    console.log(`This post has been liked? ${hasBeenLiked}`)
                    document.querySelector(`#likeButton_${id}`).style.display= 'none';
                    document.querySelector(`#unlikeButton_${id}`).style.display='block';
                    
                }


            })



         

           
        }
        
//Unlike function
function unlikePost(id){
        console.log(id)

        fetch(`/liked/${id}`, {
            method: 'GET',
        })
            .then(response => response.json())
            .then( data => {

                let hasBeenLiked = data["data"]

                console.log(`has it been liked? ${hasBeenLiked}`)

                if (hasBeenLiked) {

                    hasBeenLiked = false;

                    //Save the new text
      fetch(`/like/${id}`, {
        method: 'GET',
      })
        .then(response => response.json())
        .then( (data) => {
            console.log(data["data"])
        
            let likeNumber;

            likeNumber = data["data"]
            console.log(`This is the variable likeNumber set to ${likeNumber}`)

            //We need to add 1 like per click
            likeNumber -= 1;
            console.log(`New likeNumber plus one ${likeNumber}`)

            // We need to fetch to update number in database
            fetch(`/like/${id}`, {
                method: 'PUT',
                body: JSON.stringify({
                    newNumberLikes: likeNumber,
                    liked: hasBeenLiked
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data["data"])

                //Update client side the number of likes 
                var updateTag = document.querySelector(`#countLike_${id}`);
                console.log(updateTag)
                updateTag.innerHTML = `Number of likes: ${data["data"]}`;

                // Toggle the like button
                document.querySelector(`#likeButton_${id}`).style.display= 'block';
                document.querySelector(`#unlikeButton_${id}`).style.display='none';
            }   
            )
        }  

        )
                } else {
                    // Toggle the like button
                document.querySelector(`#likeButton_${id}`).style.display= 'block';
                document.querySelector(`#unlikeButton_${id}`).style.display='none';
                }

            })
        

         
    }

    
</script>
{% endblock %}


{% block body %}

{% if user.is_authenticated %}
<div class="mb-3">

        {% for post in page_obj %}
            <div class="card col-10">
                <div><a id="users" class="" href="{% url 'profile' user_id=post.user.id %}"> User: {{ post.user }}</a></div>
                <div id="contentIndexPost">{{ post.post }}</div>
                <div id="countLike_{{post.id}}">Number of likes: {{post.likes}}</div>
                <div>{{ post.date }}</div>

                 <!--Like button-->
                 <div id="likeButton_{{post.id}}">
                    <button class="button button-like" onclick="likePost({{post.id}})">
                        <i class="fa fa-heart"></i>
                        <span>Like</span>
                    </button>
                </div>
                <!--Unlike button-->
                <div id="unlikeButton_{{post.id}}" style="display: none">
                    <button class="button button-like" onclick="unlikePost({{post.id}})">
                        <i class="fa fa-heart"></i>
                        <span>Unlike</span>
                    </button>
                </div>

            </div>
        {% endfor %}
        
         <!-- Buttons for navigation in pagination -->
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
                
            </ul>
          </nav>
    </div>
   
</div>
{% endif %}

{% endblock %}