{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
    <h1> All Posts</h1>
    <div>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            <div class="mb-3 card col-10">
                <div class="mb-3">
                    <label for="post" class="form-label">New Post</label>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" name="text-compose" rows="2"></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Post">
            </div> 
        </form>
        <div class="mb-3">
            {% for post in page_obj %}
            <div class="card col-10">
                <div><a id="users" class="" href="{% url 'profile' user_id=post.user.id %}"> User: {{ post.user }}</a></div>
                <div>{{ post.post }}</div>
                <div>Number of likes: {{post.likes}}</div>
                <div>{{ post.date }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- I am trying to work on pagination -->
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
                
            </ul>
          </nav>
    </div>
    

{% else %}
<div class="mb-3">
    {% for post in posts %}
    <div class="card col-10">
        <div><a id="users" class="" href="{% url 'profile' user_id=post.user.id %}"> User: {{ post.user }}</a></div>
        <div>{{ post.post }}</div>
        <div>Number of likes: {{post.likes}}</div>
        <div>{{ post.date }}</div>
    </div>
    {% endfor %}
</div>
{% endif %}

   
{% endblock %}