{% extends "network/layout.html" %}

{% block body%}
    {% if user.is_authenticated %}
    <h1>{{user}}</h1>
    {% else %}
    <h4>Please log in to have full access.</h4>
    {% endif %}
    <div>
        <section>
            Followers: {{ followStat.numberFollowers }}
        </section>
        <section>
            Following: {{ followStat.numberFollowings }}
        </section>
       
      
        {% if user.is_authenticated %}
        <div class="mb-3">
            {% for post in posts %}
            <div class="card col-10">
                <div>User: {{ post.user }}</div>
                <div>{{ post.post }}</div>
                <div>Number of likes: {{post.likes}}</div>
                <div>{{ post.date }}</div>

                <!--Show the following button if the post is not by the current user-->
                {% if user.id != post.user.id %}

                  

                    
                    <form action="{% url 'followDecrease' userFollow=post.user.id %}" method="post" name="unfollow">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary">Unfollow</button>
                    </form>
                   
                    <form action="{% url 'followerCount' userFollow=post.user.id %}" method="post" name="follow">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary">Follow</button>
                    </form>
                   
                  
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <!--Render posts without button-->
      {% else %}
      <div class="mb-3">
        {% for post in posts %}
        <div class="card col-10">
            <div>User: {{ post.user }}</div>
            <div>{{ post.post }}</div>
            <div>Number of likes: {{post.likes}}</div>
            <div>{{ post.date }}</div>
        </div>
        {% endfor %}
      {% endif %}
  </div>
{% endblock %}
