{% extends "network/layout.html" %}

{% block body%}
    {% if user.is_authenticated %}
    <h1>{{user}}</h1>
    {% else %}
    <h4>Please log in to have full access.</h4>
    {% endif %}
    <div>
        <section>
            Followers: {{ followStat.numberFollowers }}
        </section>
        <section>
            Following: {{ followStat.numberFollowings }}
        </section>
       
      
        
        <div class="mb-3">
            {% for post in posts %}
            <div class="card col-10">
                <div>User: {{ post.user }}</div>
                <div>{{ post.post }}</div>
                <div>Number of likes: {{post.likes}}</div>
                <div>{{ post.date }}</div>
            </div>
            {% endfor %}
        </div>

        <!-- Here goes the following and follow button-->
        <div>
        {% if user.is_authenticated %}
          <div class="container">
            <div class="row">
              <div class="col-6">
                <form action="#" method="post">
                {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Follow</button>
                </form>
              </div>
              <div class="col-6">
                <form action="#" method="post">
                {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Unfollow</button>
                </form>
              </div>
            </div>
        {% endif %}
          </div>

           
        </div>
       
       
    </div>
{% endblock %}
