{% extends "network/layout.html" %}
{% load static %}

{% block script %}
  <script>
    //Define a global variable that will change
    var textPost;

    function edit(id) {
      console.log(id)
      // Obtain the text of the post
      textPost = document.querySelector(`#textPost_${id}`).textContent;
      console.log(textPost)

      //Toggle on and off between the textarea and the div that holds the text
      document.querySelector(`#textEdit_${id}`).style.display= 'block';
      document.querySelector(`#textPost_${id}`).style.display= 'none';

      //Populate the textarea tag with the post text
      document.querySelector(`#textEdit_${id}`).innerHTML= `${textPost}`;
    }

    function save(id) {
      //Get the new text
      let newText = document.querySelector(`#textEdit_${id}`).value;
      console.log(`here is edited text to: ${newText}`)

      //Save the new text
      fetch(`/edit/${id}`, {
        method: 'POST',
        body: JSON.stringify({
          textPost: newText
        })
      })
      .then(response => response.json())
      .then(result => 
          console.log(result)
      ) 

       //Toggle on and off between the textarea and the div that holds the text
      document.querySelector(`#textEdit_${id}`).style.display= 'none';
      document.querySelector(`#textPost_${id}`).style.display= 'block';

      //Populate the div tag with the the new info
      document.querySelector(`#textPost_${id}`).innerHTML= `${newText}`;

    }
  </script>
{% endblock %}


{% block body%}
    {% if user.is_authenticated %}
    <h1>{{userName}}</h1>
    {% else %}
    <h4>Please log in to have full access.</h4>
    {% endif %}
    <div>
        <section>
            Followers: {{ followers.count }}
        </section>
        <section>
            Following: {{ following.count }}
        </section>
       
      
        {% if user.is_authenticated %}
        
         <!--Show the following button if the post is not by the current user-->
         {% if user != user_profile %}
                    
          {% if isFollowing %}
          <form action="{% url 'unfollow' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="userfollow" value="{{ user_profile }}">
            <input type="submit" class="btn btn-primary" value="unfollow">
          </form>
          {% else %}
          <form action="{% url 'follow' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="userfollow" value="{{ user_profile }}">
            <input type="submit" class="btn btn-primary" value="follow">
          </form>
          {% endif %}

          {% for post in page_obj %}
            <div class="card col-10">
                <div>User: {{ post.user }}</div>
                <div id="">{{ post.post }}</div>
                <div>Number of likes: {{post.likes}}</div>
                <div>{{ post.date }}</div>
            </div>
          {% endfor %}

        {% else %}
       
        {% for post in page_obj %}
            <div class="card col-10 post_view">
                <div>User: {{ post.user }}</div>
                <div id="textPost_{{ post.id }}">{{ post.post }}</div>
                <textarea id="textEdit_{{ post.id }}" style="display:none"></textarea>
                <div>Number of likes: {{post.likes}}</div>
                <div>{{ post.date }}</div>
                <div><button type="button" class="btn btn-primary" onclick="edit({{ post.id }})">Edit</button></div>
                <div><button type="button" class="btn btn-success" onclick="save({{post.id}})">Save</button></div>
            </div>
        {% endfor %}
            

        {% endif %}

     
        <div class="mb-3">
            

            <!-- Buttons for navigation in pagination -->
            <div>
              <nav aria-label="Page navigation example">
                  <ul class="pagination">
                      {% if page_obj.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                      {% endif %}
                      {% if page_obj.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                      {% endif %}
                      
                  </ul>
                </nav>
          </div>
        </div>

        <!--Render posts without button to follow because user is not logged in-->
      {% else %}
      <div class="mb-3">
        {% for post in page_obj %}
        <div class="card col-10">
            <div>User: {{ post.user }}</div>
            <div id="contentProfilePost">{{ post.post }}</div>
            <div>Number of likes: {{post.likes}}</div>
            <div>{{ post.date }}</div>
        </div>
        {% endfor %}

        <!-- Buttons for navigation in pagination -->
    <div>
      <nav aria-label="Page navigation example">
          <ul class="pagination">
              {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}
              
          </ul>
        </nav>
  </div>

      {% endif %}
  </div>
{% endblock %}
