.button-like {
    border: 2px solid $dark-gray;
    background-color: transparent;
    text-decoration: none;
    padding: 1rem;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 3rem;
    color: $grey;
    transition: all ease 0.4s;
  
    span {
      margin-left: 0.5rem;
    }
  
    .fa,
    span {
      transition: all ease 0.4s;
    }
  
    &:focus {
      background-color: transparent;
  
      .fa,
      span {
        color: red;
      }
    }
  
    &:hover {
      border-color: red;
      background-color: transparent;
  
      .fa,
      span {
        color: red;
      }
    }
  }
  
  .liked {
    background-color: red;
    border-color: red;
  
    .fa,
    span {
      color: red;
  
    }
  
    &:focus {
      background-color: red;
  
      .fa,
      span {
        color: red;
      }
    }
  
    &:hover {
      background-color: red;
      border-color: red;
  
      .fa,
      span {
        color: red;
      }
    }
  }
  
  

